   @media (max-width: 1200px){
   .caiman1{
    max-width: 100%;
    max-height: 100%;
   }
   .caiman2{
      max-width: 100%;
      max-height: 100%;
     }
     .spectrum__inner{
      min-height: 280px;
      padding-top: 50px;
      align-items: center;        
   }
}

@media (max-width: 1100px){
    .preview{
    min-height: 1100px;
    }
    .preview__inner{
        min-height: 950px;  
    }

    .preview__box{
       max-width: 1080px;
    }
     .preview__box img{
        width: 245px;
        height: 249px;  
     }
      .preview__box-text{
        width: 245px;
        height: 249px;
        padding-top: 60px;   
      }
      .caiman1{
         max-width: 100%;
         max-height: 100%;
        }
        .caiman2{
           max-width: 100%;
           max-height: 100%;
          }
          .spectrum__inner{
           min-height: 230px;
           padding-top: 30px;
           align-items: center;        
        }
        .spectrum-title{
         margin-bottom: 15px;
      }
      .spectrum-text{
         margin-bottom: 10px;
         font-size: 15px;
         line-height: 20px;        
      }
      .circle{
         margin-bottom: -20px;
      }
      .spectrum .circle{
         width: 15px;
         height: 15px;
      }
      /* .new-menu__item-box{
         display: flex;
         justify-content: space-between;
      }  */
      .new-menu__inner{
         min-height: 730px;
      }
      .new-menu__item{
         width: 280px;
         height: 240px;
      } 
      .new-menu__item img{
         width: 280px;
         height: 240px;
      }
      .description-box{
         width: 280px;
         min-height: 200px;
    }
    .description-box .description{
       font-size: 14px;
       width: 205px;
    }
   }

    @media (max-width: 1000px){
      .spectrum-title{
         margin-bottom: 15px;
      }
      .spectrum-text{
         margin-bottom: 10px;
         font-size: 15px;
         line-height: 20px;        
      }
      .circle{
         margin-bottom: -10px;
      }
      .spectrum .circle{
         width: 15px;
         height: 15px;
      } 
      .caiman1{
         max-width: 100%;
         max-height: 100%;
        }
        .caiman2{
           max-width: 100%;
           max-height: 100%;
          }
          .spectrum__inner{
           min-height: 220px;
           padding-top: 30px;
           align-items: center;        
        }
        .spectrum .circle-box{
           margin-bottom: 20px;
        }
        .new-menu__item img{
           width: 280px;
           height: 240px;
        }
        .description-box .name-date{
           margin-bottom: 15px;
        }        
    }
    
    @media (max-width: 900px){
      .new-menu__item img{
         width: 240px;
         height: 200px;
      }
    }
