html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Raleway;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
  padding: 0px 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  min-height: 1000px;
}

.header__inner {
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 155px;
}

.header__inner img {
  margin-left: 70px;
}

.header__inner .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__inner .menu__list li {
  margin-left: 25px;
}

.header__inner .menu__list li a {
  font-size: 30px;
  font-weight: 700;
  color: #dddedf;
  text-transform: uppercase;
}

.sticker {
  margin-top: 155px;
  width: 758px;
  height: 472px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 100px;
  /* padding: 100px 110px;  */
  margin: 0 auto;
}

.sticker-title {
  font-family: Cookie;
  font-size: 104px;
  font-weight: 400;
  color: #2c3a42;
}

.sticker-info {
  font-size: 77px;
  font-weight: 600;
  color: #ad6c12;
  margin-bottom: 25px;
}

.sticker-read {
  margin: 0 auto;
  width: 267px;
  height: 60px;
  text-align: center;
  background-color: #fff;
  padding: 10px 5px;
  font-weight: 600;
  font-size: 38.5px;
  color: #26363a;
}
