html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Raleway;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
  padding: 0px 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.title {
  /* padding: 30px 15px */
  /* min-height: 207px; */
  font-size: 47.5px;
  font-weight: 600;
  color: #ad6c12;
  /*  margin: 0 auto; */
  text-transform: uppercase;
}

.title span {
  display: block;
  font-family: Cookie;
  font-size: 77px;
  font-weight: 400;
  color: #304751;
  text-transform: capitalize;
  margin-bottom: -20px;
}

.wrapper {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  min-height: 1000px;
}

.header__inner {
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 155px;
}

.header__inner .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__inner .menu__list li {
  margin-left: 25px;
}

.header__inner .menu__list li a {
  font-size: 30px;
  font-weight: 700;
  color: #dddedf;
  text-transform: uppercase;
}

.sticker {
  margin-top: 155px;
  max-width: 758px;
  height: 472px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 100px;
  margin: 0 auto;
}

.sticker-title {
  font-family: Cookie;
  font-size: 104px;
  font-weight: 400;
  color: #2c3a42;
}

.sticker-info {
  font-size: 77px;
  font-weight: 600;
  color: #ad6c12;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.sticker-read {
  margin: 0 auto;
  width: 267px;
  height: 60px;
  text-align: center;
  background-color: #fff;
  padding: 10px 5px;
  font-weight: 600;
  font-size: 38.5px;
  color: #26363a;
  text-transform: uppercase;
}

.discriotion {
  background-color: #2a3b40;
}

.discriotion__inner {
  min-height: 488px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.discriotion-title {
  font-size: 29.2px;
  font-weight: 700;
  margin-bottom: 47px;
}

.discriotion-text {
  font-size: 18px;
  font-weight: 400;
  max-width: 553px;
  line-height: 33px;
}

.select {
  background-color: #d4d8d9;
}

.select__inner {
  min-height: 375px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__item {
  width: 288px;
  margin-top: 40px;
}

.select__item-title {
  font-size: 18.5px;
  font-weight: 700;
  color: #2a3b40;
  margin-bottom: 35px;
}

.select__item-text {
  font-size: 16.5px;
  font-weight: 400;
  line-height: 25px;
  color: #2a3b40;
}

.select .circle {
  width: 31px;
  height: 31px;
  background-color: #2a3b40;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 30px;
}

.preview {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding-top: 88px;
  min-height: 1206px;
}

.preview__box img {
  background-repeat: repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.preview__inner {
  max-width: 1080px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  min-height: 1030px;
  text-align: center;
}

.preview-title {
  padding: 30px 15px;
  min-height: 207px;
  font-size: 47.5px;
  font-weight: 600;
  color: #ad6c12;
  margin: 0 auto;
  text-transform: uppercase;
}

.preview-title span {
  display: block;
  font-family: Cookie;
  font-size: 77px;
  font-weight: 400;
  color: #304751;
  text-transform: capitalize;
  margin-bottom: -15px;
}

.preview__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.preview__box-text {
  width: 270px;
  height: 274px;
  padding-top: 65px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #304751;
}

.preview__box-name {
  font-size: 18.5px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.preview__box-discription {
  font-size: 16.5px;
  font-weight: 400;
  width: 165px;
  margin: 0 auto;
  line-height: 20px;
}

.preview__box-price {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 700;
}

.spectrum {
  background-color: #d4d8d9;
  position: relative;
  overflow: hidden;
}

.spectrum .caiman1 {
  position: absolute;
  left: 0;
}

.spectrum .caiman2 {
  position: absolute;
  right: 0;
}

.spectrum__inner {
  min-height: 400px;
  max-width: 697px;
  margin: 0 auto;
  padding-top: 90px;
  position: relative;
}

.spectrum .spectrum-box {
  position: absolute;
  color: #2a3b40;
  text-align: center;
}

.spectrum-title {
  font-size: 29.2px;
  font-weight: 700;
  margin-bottom: 30px;
}

.spectrum-text {
  font-size: 18.8px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 45px;
}

.spectrum .circle-box {
  margin-bottom: 45px;
}

.spectrum .circle {
  width: 23px;
  height: 23px;
  background-color: #2a3b40;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.spectrum-menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spectrum-menu li + li {
  margin-left: 52px;
}

.spectrum-menu a {
  font-size: 16.7px;
  font-weight: bold;
  color: #2a3b40;
}

.menu {
  min-height: 840px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding-top: 240px;
}

.menu__inner {
  padding-top: 30px;
}

.menu-bg {
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.8);
}

.menu-title {
  text-align: center;
  margin-bottom: 45px;
}

.product__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__inner .product__part {
  max-width: 410px;
}

.product__inner .product__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.product__inner .product-name {
  margin-bottom: 15px;
  font-size: 18.5px;
  font-weight: 700;
  color: #304751;
  text-transform: uppercase;
}

.product__inner .product-discription {
  font-size: 16.5px;
  font-weight: 400;
  line-height: 20px;
  color: #304751;
}

.product__inner .product__image {
  width: 81px;
  height: 81px;
  background-color: #fff;
  padding: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
