@media (max-width: 1200px){
.caiman1{
max-width: 100%;
max-height: 100%;
}
.caiman2{
max-width: 100%;
max-height: 100%;
}
.spectrum__inner{
min-height: 280px;
padding-top: 50px;
align-items: center;        
}
}
@media (max-width: 1100px){
.preview{
min-height: 1100px;
}
.preview__inner{
min-height: 950px;
max-width: 980px;  
}
.preview__box img{
width: 245px;
height: 249px;  
}
.preview__box-text{
width: 245px;
height: 249px;
padding-top: 60px;   
}
.caiman1{
max-width: 100%;
max-height: 100%;
}
.caiman2{
max-width: 100%;
max-height: 100%;
}
.spectrum__inner{
min-height: 230px;
padding-top: 30px;
align-items: center;        
}
.spectrum-title{
margin-bottom: 15px;
}
.spectrum-text{
margin-bottom: 10px;
font-size: 15px;
line-height: 20px;        
}
.circle{
margin-bottom: -20px;
}
.spectrum .circle{
width: 15px;
height: 15px;
}     
.new-menu__inner{
min-height: 730px;
}
.new-menu__item{
width: 280px;
height: 240px;
} 
.new-menu__item img{
width: 280px;
height: 240px;
}
.description-box{
width: 280px;
min-height: 200px;
}
.description-box .description{
font-size: 14px;
width: 205px;
}
}
@media (max-width: 1000px){
.container{
max-width: 900px;
}
.wrapper {
min-height: 500px;
}
.header__inner {
height: 100px;               
margin-bottom: 55px;
}
.header__inner .menu__list li a {
font-size: 25px;              
}
.header__inner img{
width: 90px;
height: 15px;
}
.sticker {
margin-top: 60px;
max-width: 450px;
height: 250px;     
padding-top: 50px;      
}
.sticker-title {  
font-size: 40px;   
}
.sticker-info {
font-size: 35px;    
margin-bottom: 20px;  
}
.sticker-read {
width: 250px;
height: 50px;   
padding: 10px 5px;   
font-size: 30px;  
}
.discription__inner{
min-height: 220px;
}
.discription__inner img{
max-width: 450px;
max-height: 250px;
}
.discription-title {
font-size: 25px;  
margin-bottom: 35px;
}
.discription-text {
font-size: 15px;  
max-width: 400px;
line-height: 20px;
}
.select__item {  
margin-top: 0;
max-width: 180px;
}
.select .circle {
width: 20px;
height: 20px;
margin-bottom: 20px;
}
.select__item-title {
font-size: 15px;   
margin-bottom: 15px;
}
.select__item-text {
font-size: 12px;   
line-height: 15px;      
}
.select__inner {
min-height: 200px;
display: flex;
justify-content: space-around;
}
.preview {
min-height: 945px;
}
.preview-title span {  
font-size: 40px;
margin-bottom: -5px;    
}
.preview-title {
padding: 30px 15px;
min-height: 100px;
font-size: 35px;   
}
.preview__inner {
min-height: 740px;
max-width: 800px;
}
.preview__box img{
width: 200px;
height: 200px;  
}
.preview__box-text{
width: 200px;
height: 200px;
padding-top: 25px;   
}
.spectrum-title{
margin-bottom: 15px;
}
.spectrum-text{
margin-bottom: 10px;
font-size: 15px;
line-height: 20px;        
}
.circle{
margin-bottom: -10px;
}
.spectrum .circle{
width: 15px;
height: 15px;
} 
.caiman1{
max-width: 100%;
max-height: 100%;
}
.caiman2{
max-width: 100%;
max-height: 100%;
}
.spectrum__inner{
min-height: 220px;
padding-top: 30px;
align-items: center;        
}
.spectrum .circle-box{
margin-bottom: 20px;
}
.new-menu__item img{
width: 280px;
height: 240px;
}
.description-box .name-date{
margin-bottom: 15px;
}
.menu {      
padding-top: 80px;
}
.title span {      
font-size: 40px;
font-weight: 400;      
margin-bottom: -10px;
}
.menu-title {
font-size: 35px;      
margin-bottom: 20px;
}
.menu-bg {
min-height: 400px;  
}
.menu{
min-height: 580px;
}
.decoration{
display: none;
}
.product__inner .product__box {  
margin-bottom: 25px;
max-width: 350px;
}
.product__inner .product__image{
width: 50px;
height: 50px;  
padding: 15px;
}
.product__inner .product__image img {
width: 25px;
height: 25px;   
}
.product__inner .product-name {
margin-bottom: 5px;
font-size: 15px;   
}
.product__inner .product-discription {
font-size: 14px;  
} 
.select-form__inner {
padding-top: 20px;
font-size: 14px;   
}
.select-form .headed {
font-size: 40px;
margin-bottom: 10px;
}
select, input {    
width: 200px;
height: 25px;   
margin-bottom: 20px;
}
.arrow ::after {     
top: 35px;
right: 5px;
background-image: url(img/icons__mobil/Polygon_.png);
background-repeat: no-repeat;   
}
.calendar ::after {
top: 30px;
right: 5px;
background-image: url(img/icons__mobil/calendar.png);
background-repeat: no-repeat;  
}
.clock ::after {   
background-image: url(img/icons__mobil/clock.png);
top: 30px;
right: 5px;
background-repeat: no-repeat;  
}
.btn button {  
width: 200px;
height: 25px;
font-size: 14px;  
}
.select-item-wrapper {
display: flex;   
justify-content: space-around;
}
.select-form {   
min-height: 300px;   
}
.new-menu__inner-title{
margin-bottom: 15px;
font-size: 35px;  
}
.new-menu__inner {
min-height: 530px;
padding-top: 20px;
}
.new-menu__item img {
width: 250px;
height: 210px;
}
.description-box {
width: 250px;
min-height: 160px;
}
.description-box .description {  
margin-bottom: 10px;
}
.description-box .name-date {
font-size: 11px;   
margin-bottom: 5px;
}
.description-box .description span {   
font-size: 12px;      
}
.description-box a {
font-size: 12px;
border-bottom: 3px solid #ff992b; 
}
.top-footer__inner {
min-height: 220px;   
font-size: 15px;   
padding-top: 20px;   
}
.top-footer__inner .symbol {
font-size: 50px; 
}
.top-footer__inner-text {
margin-bottom: 10px;
max-width: 500px;      
line-height: 22px;
}
.top-footer__inner-author {
margin-bottom: 10px;
}
.top-footer__inner-author a {   
font-size: 15px;   
}
.menu__social {   
width: 250px;     
}
.menu__social li + li {
margin-left: 15px;
}
.menu__social li a {
width: 30px;
height: 30px;
background-image: url(img/icons__mobil/icons_sprites.png);  
}
.menu__social .facebook__link {
background-position: 0 0;
}
.menu__social .twitter__link {
background-position: 60px 60px;
}
.menu__social .instagram__link {
background-position: 90px 30px;
}
.menu__social .pinterest__link {
background-position: 60px 30px;
}
.menu__social .google__link {
background-position: 30px 0;
}
.bottom__footer__inner {
min-height: 150px;
padding-top: 20px;  
}
.bottom__footer-title {
margin-bottom: 10px;
}
.bottom__footer-title a {
font-size: 14px;  
}
.bottom__footer .info a {
font-size: 16px;
}
.bottom__footer-text {
font-size: 14px;   
line-height: 16px;
text-align: left; 
}
.bottom__footer-list li a {
font-size: 14px;   
line-height: 18px;  
}
.footer-copy__inner {
min-height: 30px;
padding-top: 10px;
font-size: 10px;
}
.footer-copy__inner img {
width: 70px;
height: 9px;
}   
}
@media (max-width: 1100px){
.preview{
min-height: 1100px;
}
.preview__inner{
min-height: 950px;
max-width: 980px;  
}
.preview__box img{
width: 245px;
height: 249px;  
}
.preview__box-text{
width: 245px;
height: 249px;
padding-top: 60px;   
}
.caiman1{
max-width: 100%;
max-height: 100%;
}
.caiman2{
max-width: 100%;
max-height: 100%;
}
.spectrum__inner{
min-height: 230px;
padding-top: 30px;
align-items: center;        
}
.spectrum-title{
margin-bottom: 15px;
}
.spectrum-text{
margin-bottom: 10px;
font-size: 15px;
line-height: 20px;        
}
.circle{
margin-bottom: -20px;
}
.spectrum .circle{
width: 15px;
height: 15px;
}     
.new-menu__inner{
min-height: 730px;
}
.new-menu__item{
width: 280px;
height: 240px;
} 
.new-menu__item img{
width: 280px;
height: 240px;
}
.description-box{
width: 280px;
min-height: 200px;
}
.description-box .description{
font-size: 14px;
width: 205px;
}
}
@media (max-width: 1000px){
.container{
max-width: 900px;
}
.wrapper {
min-height: 500px;
}
.header__inner {
height: 100px;               
margin-bottom: 55px;
}
.header__inner .menu__list li a {
font-size: 25px;              
}
.header__inner img{
width: 90px;
height: 15px;
}
.sticker {
margin-top: 60px;
max-width: 450px;
height: 250px;     
padding-top: 50px;      
}
.sticker-title {  
font-size: 40px;   
}
.sticker-info {
font-size: 35px;    
margin-bottom: 20px;  
}
.sticker-read {
width: 250px;
height: 50px;   
padding: 10px 5px;   
font-size: 30px;  
}
.discription__inner{
min-height: 220px;
}
.discription__inner img{
max-width: 450px;
max-height: 250px;
}
.discription-title {
font-size: 25px;  
margin-bottom: 35px;
}
.discription-text {
font-size: 15px;  
max-width: 400px;
line-height: 20px;
}
.select__item {  
margin-top: 0;
max-width: 180px;
}
.select .circle {
width: 20px;
height: 20px;
margin-bottom: 20px;
}
.select__item-title {
font-size: 15px;   
margin-bottom: 15px;
}
.select__item-text {
font-size: 12px;   
line-height: 15px;      
}
.select__inner {
min-height: 200px;
display: flex;
justify-content: space-around;
}
.preview {
min-height: 945px;
}
.preview-title span {  
font-size: 40px;
margin-bottom: -5px;    
}
.preview-title {
padding: 30px 15px;
min-height: 100px;
font-size: 35px;   
}
.preview__inner {
min-height: 740px;
max-width: 800px;
}
.preview__box img{
width: 200px;
height: 200px;  
}
.preview__box-text{
width: 200px;
height: 200px;
padding-top: 25px;   
}
.spectrum-title{
margin-bottom: 15px;
}
.spectrum-text{
margin-bottom: 10px;
font-size: 15px;
line-height: 20px;        
}
.circle{
margin-bottom: -10px;
}
.spectrum .circle{
width: 15px;
height: 15px;
} 
.caiman1{
max-width: 100%;
max-height: 100%;
}
.caiman2{
max-width: 100%;
max-height: 100%;
}
.spectrum__inner{
min-height: 220px;
padding-top: 30px;
align-items: center;        
}
.spectrum .circle-box{
margin-bottom: 20px;
}
.new-menu__item img{
width: 280px;
height: 240px;
}
.description-box .name-date{
margin-bottom: 15px;
}
.menu {      
padding-top: 80px;
}
.title span {      
font-size: 40px;
font-weight: 400;      
margin-bottom: -10px;
}
.menu-title {
font-size: 35px;      
margin-bottom: 20px;
}
.menu-bg {
min-height: 400px;  
}
.menu{
min-height: 580px;
}
.decoration{
display: none;
}
.product__inner .product__box {  
margin-bottom: 25px;
max-width: 350px;
}
.product__inner .product__image{
width: 50px;
height: 50px;  
padding: 15px;
}
.product__inner .product__image img {
width: 25px;
height: 25px;   
}
.product__inner .product-name {
margin-bottom: 5px;
font-size: 15px;   
}
.product__inner .product-discription {
font-size: 14px;  
} 
.select-form__inner {
padding-top: 20px;
font-size: 14px;   
}
.select-form .headed {
font-size: 40px;
margin-bottom: 10px;
}
select, input {    
width: 200px;
height: 25px;   
margin-bottom: 20px;
}
.arrow ::after {     
top: 35px;
right: 5px;
background-image: url(img/icons__mobil/Polygon_.png);
background-repeat: no-repeat;   
}
.calendar ::after {
top: 30px;
right: 5px;
background-image: url(img/icons__mobil/calendar.png);
background-repeat: no-repeat;  
}
.clock ::after {   
background-image: url(img/icons__mobil/clock.png);
top: 30px;
right: 5px;
background-repeat: no-repeat;  
}
.btn button {  
width: 200px;
height: 25px;
font-size: 14px;  
}
.select-item-wrapper {
display: flex;   
justify-content: space-around;
}
.select-form {   
min-height: 300px;   
}
.new-menu__inner-title{
margin-bottom: 15px;
font-size: 35px;  
}
.new-menu__inner {
min-height: 530px;
padding-top: 20px;
}
.new-menu__item img {
width: 250px;
height: 210px;
}
.description-box {
width: 250px;
min-height: 160px;
}
.description-box .description {  
margin-bottom: 10px;
}
.description-box .name-date {
font-size: 11px;   
margin-bottom: 5px;
}
.description-box .description span {   
font-size: 12px;      
}
.description-box a {
font-size: 12px;
border-bottom: 3px solid #ff992b; 
}
.top-footer__inner {
min-height: 220px;   
font-size: 15px;   
padding-top: 20px;   
}
.top-footer__inner .symbol {
font-size: 50px; 
}
.top-footer__inner-text {
margin-bottom: 10px;
max-width: 500px;      
line-height: 22px;
}
.top-footer__inner-author {
margin-bottom: 10px;
}
.top-footer__inner-author a {   
font-size: 15px;   
}
.menu__social {   
width: 250px;     
}
.menu__social li + li {
margin-left: 15px;
}
.menu__social li a {
width: 30px;
height: 30px;
background-image: url(img/icons__mobil/icons_sprites.png);  
}
.menu__social .facebook__link {
background-position: 0 0;
}
.menu__social .twitter__link {
background-position: 60px 60px;
}
.menu__social .instagram__link {
background-position: 90px 30px;
}
.menu__social .pinterest__link {
background-position: 60px 30px;
}
.menu__social .google__link {
background-position: 30px 0;
}
.bottom__footer__inner {
min-height: 150px;
padding-top: 20px;  
}
.bottom__footer-title {
margin-bottom: 10px;
}
.bottom__footer-title a {
font-size: 14px;  
}
.bottom__footer .info a {
font-size: 16px;
}
.bottom__footer-text {
font-size: 14px;   
line-height: 16px;
text-align: left; 
}
.bottom__footer-list li a {
font-size: 14px;   
line-height: 18px;  
}
.footer-copy__inner {
min-height: 30px;
padding-top: 10px;
font-size: 10px;
}
.footer-copy__inner img {
width: 70px;
height: 9px;
}   
}
@media (max-width: 820px){
.container {
max-width: 800px;
}
.header__inner .menu__list li a {
font-size: 20px;   
}
.sticker-info {
font-size: 30px;  
margin-bottom: 15px;   
}
.sticker-read {
font-size: 20px;
width: 170px;
height: 40px;
padding: 10px;
}
.preview__inner {
max-width: 700px;
margin: 0 auto;
}
.preview-title {
padding: 0;
min-height: 100px;
font-size: 25px;
margin-bottom: -20px;  
}   
.preview{
min-height: 800px;
}
.preview__inner{
min-height: 620px;  
}
.preview__box img{
width: 175px;
height: 180px;  
}
.preview__box-text{
width: 175px;
height: 180px;
padding-top: 60px;   
}
.preview__box-text {   
padding-top: 35px;
}
.preview__box-name {
font-size: 15px;
margin-bottom: 10px;
}
.preview__box-discription {
font-size: 14px;
line-height: 16px;
}
.preview__box-price {
margin-top: 10px;
font-size: 14px;   
}
.spectrum-title {
font-size: 20px;   
margin-bottom: 20px;
}
.spectrum__inner{
max-width: 500px;
padding-top: 20px;
}
.menu-title {
font-size: 25px;
}
.new-menu__inner {
min-height: 430px;
padding-top: 10px;
}
.new-menu__inner-title{
font-size: 25px;
}
.new-menu__item {
width: 180px;
}
.new-menu__item img{
width: 180px;
height: 160px;
}
.description-box {
padding-top: 15px;
padding-left: 10px;
width: 180px;
min-height: 150px;
}
.description-box .description {
font-size: 12px;
width: 160px;
line-height: 14px;
}
.description-box a {
font-size: 10px;  
}
.discription-title {
font-size: 20px;  
margin-bottom: 20px;
}
.discription__inner{
display: flex;
justify-content: center;
}
.discription__inner img {
max-width: 350px;
max-height: 150px;
}
.menu__social {
width: 210px;
}
}

@media (max-width: 785px){
.container {
max-width: 785px;
}
.spectrum__inner{
min-height: 200px;
}
}
@media (max-width: 720px){
.container {
max-width: 720px;
}
.preview__box img{
width: 150px;
height: 130px;  
}
.preview__box-text{
width: 150px;
height: 130px;
padding-top: 25px;   
}
.preview__box-name {
font-size: 11px;
margin-bottom: 10px;
}
.preview__box-discription {
font-size: 10px;
line-height: 10px;
width: 120px;
}
.preview__box-price {
margin-top: 10px;
font-size: 12px;
}
.preview__inner {
max-width: 600px;
min-height: 470px;
}
.preview {   
padding-top: 30px;
min-height: 530px;
}
.spectrum .circle {
width: 12px;
height: 12px;
}
.spectrum-menu a {
font-size: 14px;   
}
.spectrum img{
    display: none;
}
}
@media (max-width: 660px){
.container {
max-width: 660px;
}
.header__inner {
height: 70px;
margin-bottom: 25px;     
}
.header__inner .menu__list li a {
font-size: 15px;
}
.header__inner img {
width: 72px;
height: 12px;
}
.sticker {
margin-top: 0px;
max-width: 350px;
height: 180px;
padding-top: 10px;
}
.wrapper {
min-height: 320px;
}
.discription-title {
font-size: 17px;
margin-bottom: 10px;
}
.discription-text {
font-size: 14px;
max-width: 380px;
line-height: 16px;
}
.discription__inner {
min-height: 160px;
}
.select .circle {
width: 14px;
height: 14px;
margin-bottom: 10px;
}
.select__inner {
min-height: 150px;  
}
.spectrum__inner {
min-height: 150px;
}
.product__inner {   
display: flex;  
justify-content: space-around;
}
.product__inner .product__image {
width: 35px;
height: 35px; 
}
.product__inner .product__image img{
width: 17px;
height: 17px;
}
.product__inner .product-name {   
font-size: 10px;
}
.product__inner .product-discription {
font-size: 9px;
width: 150px;
line-height: 11px;
}
.title span {
font-size: 30px;   
margin-bottom: 0px;
}
.menu-title {
font-size: 20px;
margin-bottom: 10px;
}
.menu__inner {
padding-top: 10px;   
}
.menu-bg{
min-height: 250px;
}
.menu {
padding-top: 30px;
min-height: 360px;
}
.preview-title span {
font-size: 30px;
margin-bottom: -5px;
}
.preview-title {
padding: 0;   
font-size: 20px;
margin-bottom: 10px;
min-height: 50px;
}
.select-form .headed {
font-size: 30px;
margin-bottom: 10px;
}
.select-form__inner {
font-size: 12px;
}
select, input {
width: 130px;
height: 20px;
margin-bottom: 15px;
}
.select-item-wrapper {
display: flex;
justify-content: center;
}
.form-box + .form-box{
margin-left: 15px;
}
.arrow ::after {
top: 30px;
right: 5px;   
}
.calendar ::after {
top: 28px;
right: 0;
background-image: url(img/icons__mobil/calendar2.png);
background-repeat: no-repeat;   
}
.clock ::after {   
top: 28px;
right: 0;
background-image: url(img/icons__mobil/clock2.png);
background-repeat: no-repeat;   
}
.btn button {
width: 130px;
height: 20px;
font-size: 12px;
}
.select-form {
min-height: 240px;
}
.new-menu__inner-title {
font-size: 20px;
}
.new-menu__item img {
width: 150px;
height: 180px;
}
.description-box {
padding-top: 15px;
padding-left: 10px;
width: 180px;
min-height: 150px;
}
.new-menu__item {
width: 150px;
}
.new-menu__item img {
width: 150px;
height: 140px;
}
.description-box {
padding-top: 10px;
padding-left: 5px;
width: 150px;
min-height: 140px;
}
.description-box .description {
font-size: 10px;
width: 130px;
line-height: 12px;
}
.description-box .description span {
font-size: 10px;
}
.new-menu__inner {
min-height: 380px;
padding-top: 10px;
}
.top-footer__inner {
min-height: 170px;
font-size: 12px;
padding-top: 5px;
}
.bottom__footer__inner {  
min-height: 100px;
padding-top: 5px;
}
.bottom__footer-title {
margin-bottom: 0px;
}
.bottom__footer-title a{
font-size: 11px;
}
.bottom__footer .info a {
font-size: 11px;
}
.bottom__footer-text {
font-size: 11px;
line-height: 12px;  
}
.bottom__footer-list li a {
font-size: 11px;
line-height: 12px;
}
}

@media (max-width: 620px){
.container {
max-width: 620px;
}
.header__inner {
height: 50px;
margin-bottom: 10px;
}
.sticker {   
max-width: 240px;
height: 130px;
padding-top: 10px;
}
.sticker-title {
font-size: 30px;
}
.sticker-info {
font-size: 20px;
margin-bottom: 10px;
}
.sticker-read {
font-size: 10px;
width: 100px;
height: 20px;
padding: 5px;
}
.wrapper {
min-height: 220px;
}
.discription-title {
font-size: 14px;
margin-bottom: 10px;
}
.discription-text {
font-size: 12px;
max-width: 310px;
line-height: 14px;
margin-right: 5px;
}
.discription__inner img {
max-width: 200px;
max-height: 100px;
}
.discription__inner {
min-height: 130px;
}
.select .circle {
width: 10px;
height: 10px;  
}
.select__item-title {
font-size: 12px;
margin-bottom: 5px;
}
.select__item-text {
font-size: 10px;
line-height: 12px;
}
.select__inner {
min-height: 120px;
}
.preview__inner {
max-width: 360px;
min-height: 330px;
}
.preview__box img{
width: 90px;
height: 90px;  
}
.preview__box-text{
width: 90px;
height: 90px;
padding-top: 5px;   
}
.preview__box-name {
font-size: 8px;
margin-bottom: 5px;
}
.preview__box-discription {
font-size: 8px;   
width: 80px;
}
.preview__box-price {
margin-top: 5px;
font-size: 10px;
}
.preview {
padding-top: 30px;
min-height: 400px;
}
.spectrum-title {
font-size: 14px;
margin-bottom: 5px;
}
.spectrum-text {
margin-bottom: 0px;
font-size: 12px;
line-height: 14px;   
}
.spectrum .circle {
width: 9px;
height: 9px;
}
.spectrum-menu a {
font-size: 12px;
}
.spectrum__inner {
min-height: 135px;
}
}

@media (max-width: 530px){
.container {
max-width: 530px;
}
.new-menu__inner{
min-height: 200px;
}
.new-menu__item{
width: 100px;      
} 
.new-menu__item img{
width: 100px;
height: 100px;
}
.description-box{
padding-top: 5px;
padding-left: 5px;
width: 100px;
min-height: 110px;
}
.description-box .description{
font-size: 9px;
width: 90px;
margin-bottom: 0;      
}
.description-box .description span {
font-size: 9px;                         
margin-bottom: 0;
}
.description-box a {
font-size: 8px;
border-bottom: 1px solid #ff992b;
}
.description-box .name-date {
font-size: 9px;
margin-bottom: 0;
}
.top-footer__inner .symbol {
font-size: 30px;
margin-bottom: -15px;
}
.top-footer__inner-text {
font-size: 11px;
line-height: 14px;
}
.top-footer__inner-author a {
font-size: 11px;
}
.top-footer__inner {
min-height: 125px;
}
.copy-text{
text-align: center;
margin-right: 5px;
} 
}


@media (max-width: 490px){
.container {
max-width: 490px;
}
.bottom__footer-list + .bottom__footer-list{
margin-left: 5px;
}
.bottom__footer-text {
margin-right: 5px;
}
}
@media (max-width: 450px){
.container {
max-width: 450px;
}
.header__inner .menu__list li a {
font-size: 12px;
}
.header__inner .menu__list li {
margin-left: 10px;
}
.header__inner{
display: flex;
justify-content: space-around;
}
}
@media (max-width: 430px){
.container {
max-width: 430px;
}
.top-footer__inner {
min-height: 140px
}
}
@media (max-width: 440px){
.container {
max-width: 440px;
}
.select-form__inner {
padding-top: 5px;
}
.select-form .headed {
font-size: 25px;
margin-bottom: 5px;
}
.select-form {
min-height: 160px;
}
select, input {    
width: 90px;
height: 15px;   
margin-bottom: 10px;
font-size: 7px;
}
.label {
margin-bottom: 5px;
font-size: 9px;
}
.arrow ::after {     
top: 19px;
right: 2px;                  
}
.calendar ::after {
top: 17px;
right: -2px;        
}
.clock ::after {            
top: 17px;
right: -3px;         
}
.btn button {
width: 90px;
height: 15px;
font-size: 9px;
}       
}
@media (max-width: 410px){
.container {
max-width: 410px;
}
.select__item + .select__item{
margin-left: 10px;
}
}
@media (max-width: 380px){
.container {
max-width: 380px;
}
.preview__inner {
max-width: 292px;
min-height: 300px;
}
.preview__box img{
width: 73px;
height: 80px;  
}
.preview__box-text{
width: 73px;
height: 80px;
padding-top: 3px;   
}
.preview__box-name {
font-size: 7px;
margin-bottom: 3px;
}
.preview__box-discription {
font-size: 7px;   
width: 65px;
}
.preview__box-price {
margin-top: 3px;
font-size: 8px;
}
.preview {
padding-top: 15px;
min-height: 330px;
}
.spectrum-title {
font-size: 10px;
margin-bottom: 3px;
}
.spectrum-text {      
font-size: 9px;
line-height: 10px;
margin-bottom: -10px;
}
.spectrum .circle {
width: 7px;
height: 7px;  
}
.spectrum__inner{
min-height: 90px;
}
.spectrum-menu{
display: flex;
justify-content: center;
margin-top: -13px;
}
.spectrum-menu li +li{
margin-left: 10px;
}
.spectrum-menu a {
font-size: 8px;
}
.product__inner .product-discription {   
width: 110px;  
}
.new-menu__item + .new-menu__item{
margin-left: 5px;
}
.spectrum__inner{
padding-top: 7px;
}
}
@media (max-width: 370px){
.container {
max-width: 370px;
}
.discription__inner {
min-height: 100px;
}
.discription-title {
font-size: 11px;
margin-bottom: 5px;
}
.discription-text {
font-size: 9px;
max-width: 170px;
line-height: 11px;  
}
.discription__inner img {
max-width: 170px;
max-height: 80px;
}
}
@media (max-width: 364px){
.container {
max-width: 364px;
}
.select .circle {
width: 8px;
height: 8px;
margin-bottom: 3px;
}
.select__item-title {
font-size: 10px;
margin-bottom: 3px;
}
.select__item-text {
font-size: 9px;
line-height: 11px;
}
}
@media (max-width: 820px){
.container {
max-width: 800px;
}
.header__inner .menu__list li a {
font-size: 20px;   
}
.sticker-info {
font-size: 30px;  
margin-bottom: 15px;   
}
.sticker-read {
font-size: 20px;
width: 170px;
height: 40px;
padding: 10px;
}
.preview__inner {
max-width: 700px;
margin: 0 auto;
}
.preview-title {
padding: 0;
min-height: 100px;
font-size: 25px;
margin-bottom: -20px;  
}   
.preview{
min-height: 800px;
}
.preview__inner{
min-height: 620px;  
}
.preview__box img{
width: 175px;
height: 180px;  
}
.preview__box-text{
width: 175px;
height: 180px;
padding-top: 60px;   
}
.preview__box-text {   
padding-top: 35px;
}
.preview__box-name {
font-size: 15px;
margin-bottom: 10px;
}
.preview__box-discription {
font-size: 14px;
line-height: 16px;
}
.preview__box-price {
margin-top: 10px;
font-size: 14px;   
}
.spectrum-title {
font-size: 20px;   
margin-bottom: 20px;
}
.spectrum__inner{
max-width: 500px;
padding-top: 20px;
}
.menu-title {
font-size: 25px;
}
.new-menu__inner {
min-height: 430px;
padding-top: 10px;
}
.new-menu__inner-title{
font-size: 25px;
}
.new-menu__item {
width: 180px;
}
.new-menu__item img{
width: 180px;
height: 160px;
}
.description-box {
padding-top: 15px;
padding-left: 10px;
width: 180px;
min-height: 150px;
}
.description-box .description {
font-size: 12px;
width: 160px;
line-height: 14px;
}
.description-box a {
font-size: 10px;  
}
.discription-title {
font-size: 20px;  
margin-bottom: 20px;
}
.discription__inner{
display: flex;
justify-content: center;
}
.discription__inner img {
max-width: 350px;
max-height: 150px;
}
.menu__social {
width: 210px;
}
}
@media (max-width: 720px){
.container {
max-width: 720px;
}
.preview__box img{
width: 150px;
height: 130px;  
}
.preview__box-text{
width: 150px;
height: 130px;
padding-top: 25px;   
}
.preview__box-name {
font-size: 11px;
margin-bottom: 10px;
}
.preview__box-discription {
font-size: 10px;
line-height: 10px;
width: 120px;
}
.preview__box-price {
margin-top: 10px;
font-size: 12px;
}
.preview__inner {
max-width: 600px;
min-height: 470px;
}
.preview {   
padding-top: 30px;
min-height: 530px;
}
.spectrum__inner {
min-height: 200px;
padding-top: 15px;   
}
.spectrum-title {
font-size: 16px;
margin-bottom: 10px;
}
.spectrum .circle {
width: 12px;
height: 12px;
}
.spectrum-menu a {
font-size: 14px;   
}
}
@media (max-width: 660px){
.container {
max-width: 660px;
}
.header__inner {
height: 70px;
margin-bottom: 25px;     
}
.header__inner .menu__list li a {
font-size: 15px;
}
.header__inner img {
width: 72px;
height: 12px;
}
.sticker {
margin-top: 0px;
max-width: 350px;
height: 180px;
padding-top: 10px;
}
.wrapper {
min-height: 320px;
}
.discription-title {
font-size: 17px;
margin-bottom: 10px;
}
.discription-text {
font-size: 14px;
max-width: 380px;
line-height: 16px;
}
.discription__inner {
min-height: 160px;
}
.select .circle {
width: 14px;
height: 14px;
margin-bottom: 10px;
}
.select__inner {
min-height: 150px;  
}
.spectrum__inner {
min-height: 150px;
}
.product__inner {   
display: flex;  
justify-content: space-around;
}
.product__inner .product__image {
width: 35px;
height: 35px; 
}
.product__inner .product__image img{
width: 17px;
height: 17px;
}
.product__inner .product-name {   
font-size: 10px;
}
.product__inner .product-discription {
font-size: 9px;
width: 150px;
line-height: 11px;
}
.title span {
font-size: 30px;   
margin-bottom: 0px;
}
.menu-title {
font-size: 20px;
margin-bottom: 10px;
}
.menu__inner {
padding-top: 10px;   
}
.menu-bg{
min-height: 250px;
}
.menu {
padding-top: 30px;
min-height: 360px;
}
.preview-title span {
font-size: 30px;
margin-bottom: -5px;
}
.preview-title {
padding: 0;   
font-size: 20px;
margin-bottom: 10px;
min-height: 50px;
}
.select-form .headed {
font-size: 30px;
margin-bottom: 10px;
}
.select-form__inner {
font-size: 12px;
}
select, input {
width: 130px;
height: 20px;
margin-bottom: 15px;
}
.select-item-wrapper {
display: flex;
justify-content: center;
}
.form-box + .form-box{
margin-left: 15px;
}
.arrow ::after {
top: 30px;
right: 5px;   
}
.calendar ::after {
top: 28px;
right: 0;
background-image: url(img/icons__mobil/calendar2.png);
background-repeat: no-repeat;   
}
.clock ::after {   
top: 28px;
right: 0;
background-image: url(img/icons__mobil/clock2.png);
background-repeat: no-repeat;   
}
.btn button {
width: 130px;
height: 20px;
font-size: 12px;
}
.select-form {
min-height: 240px;
}
.new-menu__inner-title {
font-size: 20px;
}
.new-menu__item img {
width: 150px;
height: 180px;
}
.description-box {
padding-top: 15px;
padding-left: 10px;
width: 180px;
min-height: 150px;
}
.new-menu__item {
width: 150px;
}
.new-menu__item img {
width: 150px;
height: 140px;
}
.description-box {
padding-top: 10px;
padding-left: 5px;
width: 150px;
min-height: 140px;
}
.description-box .description {
font-size: 10px;
width: 130px;
line-height: 12px;
}
.description-box .description span {
font-size: 10px;
}
.new-menu__inner {
min-height: 380px;
padding-top: 10px;
}
.top-footer__inner {
min-height: 170px;
font-size: 12px;
padding-top: 5px;
}
.bottom__footer__inner {  
min-height: 100px;
padding-top: 5px;
}
.bottom__footer-title {
margin-bottom: 0px;
}
.bottom__footer-title a{
font-size: 11px;
}
.bottom__footer .info a {
font-size: 11px;
}
.bottom__footer-text {
font-size: 11px;
line-height: 12px;  
}
.bottom__footer-list li a {
font-size: 11px;
line-height: 12px;
}
}
@media (max-width: 620px){
.container {
max-width: 620px;
}
.header__inner {
height: 50px;
margin-bottom: 10px;
}
.sticker {   
max-width: 240px;
height: 130px;
padding-top: 10px;
}
.sticker-title {
font-size: 30px;
}
.sticker-info {
font-size: 20px;
margin-bottom: 10px;
}
.sticker-read {
font-size: 10px;
width: 100px;
height: 20px;
padding: 5px;
}
.wrapper {
min-height: 220px;
}
.discription-title {
font-size: 14px;
margin-bottom: 10px;
}
.discription-text {
font-size: 12px;
max-width: 310px;
line-height: 14px;
margin-right: 5px;
}
.discription__inner img {
max-width: 200px;
max-height: 100px;
}
.discription__inner {
min-height: 130px;
}
.select .circle {
width: 10px;
height: 10px;  
}
.select__item-title {
font-size: 12px;
margin-bottom: 5px;
}
.select__item-text {
font-size: 10px;
line-height: 12px;
}
.select__inner {
min-height: 120px;
}
.preview__inner {
max-width: 360px;
min-height: 330px;
}
.preview__box img{
width: 90px;
height: 90px;  
}
.preview__box-text{
width: 90px;
height: 90px;
padding-top: 5px;   
}
.preview__box-name {
font-size: 8px;
margin-bottom: 5px;
}
.preview__box-discription {
font-size: 8px;   
width: 80px;
}
.preview__box-price {
margin-top: 5px;
font-size: 10px;
}
.preview {
padding-top: 30px;
min-height: 400px;
}
.spectrum-title {
font-size: 14px;
margin-bottom: 5px;
}
.spectrum-text {
margin-bottom: 0px;
font-size: 12px;
line-height: 14px;   
}
.spectrum .circle {
width: 9px;
height: 9px;
}
.spectrum-menu a {
font-size: 12px;
}
.spectrum__inner {
min-height: 135px;
}
}
@media (max-width: 530px){
.container {
max-width: 530px;
}
.new-menu__inner{
min-height: 200px;
}
.new-menu__item{
width: 100px;      
} 
.new-menu__item img{
width: 100px;
height: 100px;
}
.description-box{
padding-top: 5px;
padding-left: 5px;
width: 100px;
min-height: 110px;
}
.description-box .description{
font-size: 9px;
width: 90px;
margin-bottom: 0;      
}
.description-box .description span {
font-size: 9px;                         
margin-bottom: 0;
}
.description-box a {
font-size: 8px;
border-bottom: 1px solid #ff992b;
}
.description-box .name-date {
font-size: 9px;
margin-bottom: 0;
}
.top-footer__inner .symbol {
font-size: 30px;
margin-bottom: -15px;
}
.top-footer__inner-text {
font-size: 11px;
line-height: 14px;
}
.top-footer__inner-author a {
font-size: 11px;
}
.top-footer__inner {
min-height: 125px;
}
}
@media (max-width: 530px){
.container {
max-width: 530px;
}
.copy-text{
text-align: center;
margin-right: 5px;
} 
}
@media (max-width: 490px){
.container {
max-width: 490px;
}
.bottom__footer-list + .bottom__footer-list{
margin-left: 5px;
}
.bottom__footer-text {
margin-right: 5px;
}
}
@media (max-width: 450px){
.container {
max-width: 450px;
}
.header__inner .menu__list li a {
font-size: 12px;
}
.header__inner .menu__list li {
margin-left: 10px;
}
.header__inner{
display: flex;
justify-content: space-around;
}
}
@media (max-width: 430px){
.container {
max-width: 430px;
}
.top-footer__inner {
min-height: 140px
}
}
@media (max-width: 440px){
.container {
max-width: 440px;
}
.select-form__inner {
padding-top: 5px;
}
.select-form .headed {
font-size: 25px;
margin-bottom: 5px;
}
.select-form {
min-height: 160px;
}
select, input {    
width: 90px;
height: 15px;   
margin-bottom: 10px;
font-size: 7px;
}
.label {
margin-bottom: 5px;
font-size: 9px;
}
.arrow ::after {     
top: 19px;
right: 2px;                  
}
.calendar ::after {
top: 17px;
right: -2px;        
}
.clock ::after {            
top: 17px;
right: -3px;         
}
.btn button {
width: 90px;
height: 15px;
font-size: 9px;
}       
}
@media (max-width: 410px){
.container {
max-width: 410px;
}
.select__item + .select__item{
margin-left: 10px;
}
}
@media (max-width: 380px){
.container {
max-width: 380px;
}
.preview__inner {
max-width: 292px;
min-height: 300px;
}
.preview__box img{
width: 73px;
height: 80px;  
}
.preview__box-text{
width: 73px;
height: 80px;
padding-top: 3px;   
}
.preview__box-name {
font-size: 7px;
margin-bottom: 3px;
}
.preview__box-discription {
font-size: 7px;   
width: 65px;
}
.preview__box-price {
margin-top: 3px;
font-size: 8px;
}
.preview {
padding-top: 15px;
min-height: 330px;
}
.spectrum-title {
font-size: 10px;
margin-bottom: 3px;
}
.spectrum-text {      
font-size: 9px;
line-height: 10px;
margin-bottom: -10px;
}
.spectrum .circle {
width: 7px;
height: 7px;  
}
.spectrum__inner{
min-height: 90px;
}
.spectrum-menu{
display: flex;
justify-content: center;
margin-top: -13px;
}
.spectrum-menu li +li{
margin-left: 10px;
}
.spectrum-menu a {
font-size: 8px;
}
.product__inner .product-discription {   
width: 110px;  
}
.new-menu__item + .new-menu__item{
margin-left: 5px;
}
.spectrum__inner{
padding-top: 7px;
}
}
@media (max-width: 370px){
.container {
max-width: 370px;
}
.discription__inner {
min-height: 100px;
}
.discription-title {
font-size: 11px;
margin-bottom: 5px;
}
.discription-text {
font-size: 9px;
max-width: 170px;
line-height: 11px;  
}
.discription__inner img {
max-width: 170px;
max-height: 80px;
}
}
@media (max-width: 364px){
.container {
max-width: 364px;
}
.select .circle {
width: 8px;
height: 8px;
margin-bottom: 3px;
}
.select__item-title {
font-size: 10px;
margin-bottom: 3px;
}
.select__item-text {
font-size: 9px;
line-height: 11px;
}
}
