html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
   font-family: Raleway; 
}


.container{
    max-width: 1185px;    
    margin: 0 auto;
    padding: 0px 10px;    
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;    
}

.title{
    span{
        display: block;
       font-family: Cookie;
       font-size: 77px;
       font-weight: 400;                                
       color: #304751;
       text-transform: capitalize;
       margin-bottom: -20px;                
    } 
    /* padding: 30px 15px */;           
    /* min-height: 207px; */
    font-size: 47.5px;
   font-weight: 600;            
   color: #ad6c12; 
  /*  margin: 0 auto; */
   text-transform: uppercase;                                            
}  
