@import'global';
@import'vars';


.wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.header__inner{
    height: 150px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 155px;  
    .menu__list{
        display: flex;                
        li{
            margin-left: 25px;
            a{
                font-size: 30px;
                font-weight: 700;        
                color: #dddedf;
                text-transform: uppercase;
            }
        }
    }        
}    
       
   .sticker{
    margin-top: 155px;         
    max-width: 758px;
    height: 472px;    
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    padding-top: 100px;    
    margin: 0 auto;          
          &-title{
        font-family: Cookie;
        font-size: 104px;
        font-weight: 400;                 
        color: #2c3a42;        
      }
       &-info{
        font-size: 77px;
        font-weight: 600;       
        color: #ad6c12;
        margin-bottom: 25px;
        text-transform: uppercase;
       } 
       &-read{
           margin: 0 auto;     
           width: 267px;
            height: 60px;              
            text-align: center;       
            background-color: #fff;
            padding: 10px 5px;
            font-weight: 600;
            font-size: 38.5px;
            color: #26363a;
            text-transform: uppercase; 
        }                           
      }


.discription{
   background-color: $bg;
  &__inner{
    min-height: 488px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: #fff;
  }
    &-title{
        font-size: 29.2px;
        font-weight: 700;                 
        margin-bottom: 47px;
    }
    &-text{
        font-size: 18px;
        font-weight: 400;
        max-width: 553px;
        line-height: 33px;          
    }    
 }

 .select{
    background-color: #d4d8d9;
    &__inner{
        min-height: 375px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        &__item{
            width: 288px;
            margin-top: 40px;            
            &-title{
                font-size: 18.5px;
                font-weight: 700;                
                color: #2a3b40;
                margin-bottom: 35px;
            }
           &-text{
            font-size: 16.5px;
            font-weight: 400;            
            line-height: 25px;           
            color: #2a3b40;
           } 
        }
        & .circle{
            width: 31px;
            height: 31px;
            background-color: $bg;
            display: inline-block;
            border-radius: 50%;
            margin-bottom: 30px;
        }
    }
   
 .preview{     
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;     
     padding-top: 88px;
     min-height: 1206px;
     &__box img{
         background-repeat: repeat;
         background-size: cover;
         background-position: center;
     }          
     &__inner{
        
        max-width: 1080px;
         background-color: rgba(255, 255, 255, .8);
         margin: 0 auto;
         min-height: 1030px;
         text-align: center;
     }                 
         &-title{
             span{
                 display: block;
                font-family: Cookie;
                font-size: 77px;
                font-weight: 400;                                
                color: #304751;
                text-transform: capitalize;
                margin-bottom: -15px;                
             } 
             padding: 30px 15px;           
             min-height: 207px;
             font-size: 47.5px;
            font-weight: 600;            
            color: #ad6c12; 
            margin: 0 auto;
            text-transform: uppercase;                                            
         }         
     
     &__box{
         display: flex;
         flex-wrap: wrap;
         &-text{
            width: 270px;
            height: 274px;
            padding-top: 65px;                          
             align-items: center;
             color: #304751;                          
         }
         &-name{
            font-size: 18.5px;
            font-weight: 700;                        
            margin-bottom: 20px;
            text-transform: uppercase;
         }
         &-discription{
            font-size: 16.5px;
            font-weight: 400;                                       
            width: 165px; 
            margin: 0 auto;
            line-height: 20px;                     
          }
          &-price{
          margin-top: 22px;
          font-size: 16px;
          font-weight: 700;
         }
     }
    } 
    
        
.spectrum{
    background-color: $grey;
    position: relative;
    overflow: hidden;         
    & .caiman1{
        position: absolute;
        left: 0;        
    }
    & .caiman2{
        position: absolute;
        right: 0;                     
    }        
  &__inner{      
      min-height: 400px;
      max-width: 697px;
      margin: 0 auto;
      padding-top: 90px;      
      position: relative;      
 }
.spectrum-box{
    position: absolute;
    color: $bg;
    text-align: center;
}

&-title{
font-size: 29.2px;
font-weight: 700;
margin-bottom: 30px;
}
&-text{
    font-size: 18.8px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;       
}
.circle-box{       
   margin-bottom: 45px;
}
.circle{
   width: 23px;
    height: 23px;
    background-color: $bg;
    display: inline-block;
    border-radius: 50%;  
}
&-menu{
    display: inline-flex;
    justify-content: space-between;
    li + li{
        margin-left: 52px;
    }  a{
        font-size: 16.7px;
        font-weight: bold;
         color: $bg;
    }
}
}

.menu{
    min-height: 840px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 240px;
    &__inner{
        padding-top: 30px;
    }
    &-bg{
        min-height: 600px;
        background-color: $opacity;        
    }
    &-title{
        text-align: center; 
        margin-bottom: 45px;       
    }     
}

.product__inner{
    display: flex;
    justify-content: space-between;  
    & .product__part{
        max-width: 410px;
    }
    & .product__box{
        display: flex;
        margin-bottom: 65px;      
    }
    .product-name{
        margin-bottom: 15px;
        font-size: 18.5px;
        font-weight: 700;              
        color: #304751;
        text-transform: uppercase;
    }
    .product-discription{
        font-size: 16.5px;
        font-weight: 400;        
        line-height: 20px;        
        color: #304751;
    }
    & .product__image{
        width: 81px;
        height: 81px;
        background-color: #fff;        
        padding: 15px;        
        border-radius: 50%;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
}
.decoration{
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.height{
    height: 865px;
}

.select-form{
    background-color: $bg;
    min-height: 500px;
    &__inner{
        padding-top: 45px;
        font-size: 17px;
        font-weight: 700;
        color: #fff;    
}    
    & .headed{
    text-align: center;
    margin-bottom: 35px;               
    }     
}

.select-item-wrapper{
    display: flex;
    justify-content: space-between;
}

select,
input{
    display: block;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 237px;
    height: 32px;
    color: #fff;
    appearance: none;    
    padding-left: 8px;
    margin-bottom: 45px;           
    &::placeholder{
     color: #fff;                  
    }        
}

input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    cursor: pointer;    
}

.label{
    margin-bottom: 10px;
}

:focus::placeholder {
    color: transparent;    
}

.choice{
    background-color: $bg;      
}

.arrow{    
    z-index: 10;
    position: relative;         
    ::after{
        content: '';       
        background-image: url(../img/icons/Polygon_2.png);
        width: 13px;
        height: 11px;
        top: 40px;
        right: 15px;
        position: absolute;
        z-index: -1;                              
    }    
}

.calendar{
    z-index: 10;
    position: relative;    
    ::after{
        content: '';       
        background-image: url(../img/icons/calendar.png);
        width: 20px;
        height: 20px;
        top: 35px;
        right: 15px;
        position: absolute;
        z-index: -1;                              
    }
}

.clock{    
    z-index: 10;
    position: relative;         
    ::after{
        content: '';       
        background-image: url(../img/icons/clock.png);
        width: 20px;
        height: 20px;
        top: 35px;
        right: 15px;
        position: absolute;
        z-index: -1;                              
    }  
}

.correct{
    padding-right: 10px;             
}

.person__number,
.time,
select{
    cursor: pointer;
}

.btn{
    padding-top: 10px;
    display: flex;
    justify-content: center;   
    & button{
        background-color: $bg;
        width: 237px;
        height: 32px;
        font-size: 16.5px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        border-radius: 8px;
        border: 1px solid #fff;
        cursor: pointer;
    }
}


.new-menu{
    background-color: $grey;
    &__item{
       width: 340px;       
       & + &{
           margin-left: 34px;
       }
       & img{
        vertical-align: bottom  
       }     
    }
   &__inner{
    min-height: 820px;
    padding-top: 45px;
    &-title{
       text-align: center;
       margin-bottom: 55px;
    } 
}
&__item-box{
    display: flex;
    justify-content: center;
 }
}

.description-box{
    width: 340px;
    min-height: 200px;
    padding-top: 25px;
    padding-left: 20px;
    background-color: #fff;
    a{
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;        
        color: #555555;                            
        border-bottom: 7px solid #ff992b;               
        &:hover{
        border-bottom: transparent;        
        }               
      }
    
    & .name-date{
        font-size: 14px;
        font-weight: 700;        
        color: #555555;
        margin-bottom: 25px;
    }
    & .description{        
        font-size: 16.7px;
        font-weight: 400;        
        line-height: 20px;        
        color: #4f4e4e;
        margin-bottom: 25px;
        & span{
            display: block;
            font-size: 16.7px;
            font-weight: 700;            
            color: #4f4e4e;
            margin-bottom: 7px;            
        }
    } 
}  
.top-footer{
    background-color: $bg;
    &__inner{
        min-height: 340px;
        color: #fff;
        font-size: 18.8px;
        font-weight: 400;
        padding-top: 40px;
        text-align: center;
        &-author{            
            margin-bottom: 30px;
            & a{
               font-weight: 700;
               color: #fff;
               font-size: 18.8px;
               font-weight: 400;
            }
        }
        &-text{
            margin-bottom: 30px;
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 30px;
            line-height: 32px;
        }
         .symbol{
            font-size: 83.3px;
            font-weight: 700;
            margin-bottom: -30px;            
        }  
    }
}

.menu__social{
    display: flex;    
    width: 333px;
    margin: 0 auto;
    & li + li{
        margin-left: 25px;
    }    
    & li a{
        width: 46px;
        height: 46px;
        background-image: url(../img/icons/sprite__social.png);
    }
    .facebook__link{
        background-position: -46px 0;
    }
    .twitter__link{
        background-position: 0 -46px ;
    }
    .instagram__link{
        background-position: -46px -46px;
    }
    .pinterest__link{
        background-position: -92px 0;
    }
}

.bottom__footer{    
    background-color: $grey;
    &__inner{
        min-height: 320px;
        padding-top: 70px;
        display: flex;
        justify-content: space-around;        
    }
       &-title{        
        margin-bottom: 50px;
        & a{
            font-size: 20px;
            font-weight: 700;
             color: #2d2f2a;
             text-transform: uppercase;             
        }
      }      
    &-info{
        width: 318px;              
    }                 
       &-list li a
       {
        font-size: 20.8px;
        font-weight: 400;            
        line-height: 34px;            
        color: #2d2f2a;
         }
    &-text{
        font-size: 18.8px;
        font-weight: 400;        
        line-height: 30px;       
        color: #2d2f2a;
        text-align: center;        
    }
    & .info a{
        font-size: 25px;            
    }      
  }    
.footer-copy{
    background-color: $bg;
    &__inner{
        min-height: 40px;
        padding-top: 15px;
        display: flex;
        justify-content: space-around;        
        font-size: 12px;
        color: $grey;               
        & img{
            width: 100px;
            height: 16px;
        }
    }   
}
